/**
 * Green-themed styles for Rent Split
 *
 * @dependency Neon: https://github.com/BlueHuskyStudios/stylesheets
 *
 * @since 2016-09-05
 * @author Ky – https://KyLeggiero.me
 *
 * @see https://Split.Rent
 */

@import "rent-base";
@import "rent-type";


:root,
.brightness-light,
.brightness-white {
    --theme-primary-color: var(--theme-earth-primary-color);
    --theme-accent-color: var(--material-indigo-a400);
    --theme-danger-color: #b71c1c;

    --theme-donate-color: var(--material-yellow-500);
}

.brightness-dark,
.brightness-black {
    --theme-primary-color: #5AC561;
    --theme-accent-color: var(--material-indigo-300);
    --theme-danger-color: #b71c1c;
}

.roommate-owes-too-much {
    background-color: var(--theme-danger-color);
    color: var(--dark-theme-foreground-color, #EEE);
}

.warning-message {
    background-color: var(--material-yellow-500);
    color: #000;
}

input:read-only {
    background: rgba(127,127,127, 0.2) !important;
}

.has-applicable-roommates .filter-button {
    background-color: var(--theme-accent-color) !important;
}
