/**
 * Green-themed styles for Rent Split
 *
 * @dependency Neon: https://github.com/BlueHuskyStudios/stylesheets
 *
 * @since 2016-09-05
 * @author Ky (https://KyLeggiero.me)
 *
 * @see https://Split.Rent
 */

@import "rent-base";
@import "rent-type";


:root {
    --theme-primary-color: #5AC561;
}


.rent .color-danger {
    color: #b71c1c;
}

.rent .roommate-owes-too-much {
    background-color: #b71c1c;
    color: #EEE
}

.rent .warning-message {
    background-color: #FFEB3B;
    color: #000;
}

.rent input:read-only {
    background: rgba(127,127,127, 0.2) !important;
}

.rent .has-applicable-roommates .filter-button {
    background-color: #9C27B0 !important; /* Material Purple 500: https://www.materialui.co/colors/purple/500 */
}
