/**
 * Typography for Rent Split
 *
 * @since 2016-09-05
 * @author Ky – https://KyLeggiero.me
 *
 * @see https://Split.Rent
 */

.rent body>header h1 {
    border: none;
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    padding: 0 1ex;
}

.copy-button::before {
    font-family: "Roboto Condensed",
                 "Roboto Cn",
                 "Helvetica Condensed",
                 condensed,
                 "Roboto",
                 "Helvetica",
                 sans-serif;
    font-weight: 600;
    text-transform: UPPERCASE;
}


h1 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2em 0 0.5em;
}

p,
ol,
ul {
    margin: 0 0 1.5em;
}

li {
    margin-block-end: 0.5em;
}