/**
 * Typography for Rent Split
 *
 * @since 2016-09-05
 * @author Kyli Rouge & Ben Leggiero of Blue Husky Studios
 *
 * @see https://Split.Rent
 */

.rent body>header h1 {
    border: none;
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    padding: 0 1ex;
}

.copy-button::before {
    font-family: "Roboto Condensed",
                 "Roboto Cn",
                 "Helvetica Condensed",
                 condensed,
                 "Roboto",
                 "Helvetica",
                 sans-serif;
    font-weight: 600;
    text-transform: UPPERCASE;
}
