/**
 * Layout for Rent Split Calculator
 *
 * @since 2016-09-05
 * @author Kyli Rouge & Ben Leggiero of Blue Husky Studios
 *
 * @see https://BlueHuskyStudios.GitHub.IO/Rent-Split-Calculator
 */

.rent html,
html.rent {
    min-height: 100vh;
}
.rent body {
    min-height: 80vh;
}
.rent main {
    height: 100%
}

.rent header {
    padding: 4pt 8pt;
    min-height: auto;
}

.rent section {
    margin: 2em 0;
}

.rent dialog {
    box-shadow: 0 2em 5em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.2), 0 1pt 4pt rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 2pt;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: -ms-fit-content;
    height: fit-content;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: -ms-fit-content;
    max-height: fit-content;
    margin: auto !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: -ms-fit-content;
    width: fit-content;
    z-index: 10;

    transition-property: opacity;
    transition-duration: 1s;

    opacity: 0;
}
    .rent dialog.severe {
        box-shadow: 0 2em 5em rgba(0, 0, 0, .8), 0 0 0 .5em #FF1744, 0 1em 2em rgba(0, 0, 0, .5), 0 1pt 4pt rgba(0, 0, 0, .2);
    }

    .rent dialog[open] {
        opacity: 1;
    }

.rent body .warning-message {
    padding: 1em;
}
.rent main .warning-message {
    margin: 1em 0;
    
    } @media screen and (max-width: 479px) { .rent main .warning-message {
        width: 100vw;
    }
}

.rent button {
    border-radius: 2pt;
}
    .rent dialog button {
        padding: 3px 1em;
        min-width: 64px;
    }

.rent button,
.rent #Add-Roommate-Button,
.rent #Add-Expense-Button,
.rent .remove-roommate-button,
.rent .remove-expense-button {
    cursor: pointer;
    transition-duration: 0.5s;
    transition-property: box-shadow;
}

.rent button:not(:disabled):hover,
.rent button:not(:disabled):focus,
.rent #Add-Roommate-Button:hover,
.rent #Add-Roommate-Button:focus,
.rent #Add-Expense-Button:hover,
.rent #Add-Expense-Button:focus,
.rent .remove-roommate-button:hover,
.rent .remove-roommate-button:focus,
.rent .remove-expense-button:hover,
.rent .remove-expense-button:focus {
    box-shadow: 0 2pt 10pt rgba(0, 0, 0, 0.2), 0 2pt 5pt rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
}

.rent button:active,
.rent #Add-Roommate-Button:active,
.rent #Add-Expense-Button:active,
.rent .remove-roommate-button:active,
.rent .remove-expense-button:active {
    box-shadow: inset 0 2pt 10pt rgba(0, 0, 0, 0.2), inset 0 2pt 5pt rgba(0, 0, 0, 0.2);
}

.rent td.vert-bottom {
    vertical-align: bottom;
}

.rent.material input[type=text][placeholder]::before {
    box-shadow: 0 0 0 10px magenta;
    content: "Text";
    position: absolute;
    z-index: 1;
    top: -1em;
}

.rent.material input[type=text][placeholder] {
    position: relative;
    z-index: 0;
}

.rent .fork:link,
.rent .fork:visited,
.rent :link .fa,
.rent :visited .fa,
.rent :link:hover .fa,
.rent :visited:hover .fa,
.rent :link:focus .fa,
.rent :visited:focus .fa {
    text-decoration: none !important;
}


.rent :link b.fork-cta {
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    transition-property: max-width;
    max-width: 50vw;
}
.rent :link:not(:hover):not(:focus) b.fork-cta {
    max-width: 0;
}

.rent input.roommate-income,
.rent input.expense-cost {
    width: 0;
    min-width: 100%;
}


.rent aside p {
    margin: 0 0.5ex;
}

.rent .button-list button:not(:last-child) {
    margin-right: 1rem;
}

.rent .button-list:last-child {
    margin-top: 1ex;
}

.rent input:read-only {
    opacity: 0.5;
}


.copy-button {
    position: relative;
}
    .copy-button::before {
        content: "Copied!";
        position: absolute;
        bottom: 1ex;
        left:0;
        right: 0;
        width: 100%;
        color: rgba(0,0,0, 0);
        z-index: -1;
        transition-property: bottom, color;
        transition-duration: 2s;
    }
    .copy-button.just-copied::before {
        bottom: -3ex;
        color: rgba(0,0,0, 0.8);
        transition-duration: 0.3s;
    }



/* MARK: - Hidden floating row buttons */

.has-floating-button {
    position: relative;
}

.floats-to-left {
    position: absolute;
    left: -3em;
    top: calc(50% - 1.5ex);

    } @media (max-width: 479px) { .floats-to-left {
        left: -4.5em;
        top: calc(50% - 3.5ex);
    }
}

th.plain.has-floating-button .floats-to-left {
    left: -2.25em;

    } @media (max-width: 479px) { th.plain.has-floating-button .floats-to-left {
        left: -3.75em;
    }
}


.hides-something-until-hover .hidden-until-parent-hover {
    transition-property: opacity, box-shadow, background-color;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
    transition-duration: 1s;
}

.touch-not-supported .hides-something-until-hover:hover .hidden-until-parent-hover,
.touch-not-supported .hides-something-until-hover:focus .hidden-until-parent-hover,
.touch-not-supported .hides-something-until-hover .hidden-until-parent-hover:hover,
.touch-not-supported .hides-something-until-hover .hidden-until-parent-hover:focus {
    transition-delay: 0s;
    transition-duration: 0.2s;
}

@media (min-width: 480px) { /* Tiny screens always get the buttons, and when we detect touch devices, those do too */
    .touch-not-supported .hides-something-until-hover:not(:hover):not(:focus) .hidden-until-parent-hover:not(:hover):not(:focus) {
        opacity: 0;
    }
}

.rent .has-applicable-roommates .filter-button {
    opacity: 1 !important;
}

#Expenses {
    padding-left: 1em;
}


.rent .checklist {
    list-style-type: none;
    margin: 1em 0;
}
    .rent .checklist li {
        margin: 0;
    }
    .rent .checklist .checklist-item {
        margin: 1ex 1em;
    }
    .rent .checklist hr {
        margin: 1ex 0;
    }
