/**
 * Typography for Rent Split
 *
 * @since 2016-09-05
 * @author Kyli Rouge of Blue Husky Studios
 *
 * @see https://Supuhstar.GitHub.IO/Rent-Split-Calculator
 */

.rent body>header h1 {
    border: none;
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    padding: 0 1ex;
}
