/**
 * Green-themed styles for Rent Split
 *
 * @dependency Visual Clean Green: https://shared.BHStudios.org/_css/visual_Clean_Green.php
 *
 * @since 2016-09-05
 * @author Kyli Rouge & Ben Leggiero of Blue Husky Studios
 *
 * @see https://Split.Rent
 */

@import url("./rent-base.css");
@import url("./rent-type.css");
@import url("https://shared.BHStudios.org/_css/visual_Clean_Green.php");

.rent .color-danger {
    color: #b71c1c;
}

.rent .roommate-owes-too-much {
    background-color: #b71c1c;
    color: #EEE
}

.rent .warning-message {
    background-color: #FFEB3B;
    color: #000;
}

.rent input:read-only {
    background: rgba(127,127,127, 0.2) !important;
}

.rent .has-applicable-roommates .filter-button {
    background-color: #9C27B0 !important; /* Material Purple 500: https://www.materialui.co/colors/purple/500 */
}
